#banner {
  background-image: url("../img/pittlogo.jpg");
  background-repeat: no-repeat;
  background-size: 400px 300px;
  background-position:right;
  background-color: white;

   }

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

h1 small {
    font-size: 25%;
    text-transform: uppercase;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

nav li a {
    display: block;
    padding: 5px;
    color: #blue;
    -webkit-transition: opacity .24s ease-in-out;
    -moz-transition: opacity .24s ease-in-out;
    -ms-transition: opacity .24s ease-in-out;
    -o-transition: opacity .24s ease-in-out;
    transition: opacity .24s ease-in-out;
}

.container p {
    font-size: 18px;
}

.footer {
    background: #eee;
    text-align: center;
    margin: 10px;
}

.hover {
     zoom: 1.03;
     filter: alpha(opacity = 50);
     opacity: 0.5;
      -webkit-transition: opacity .24s ease-in-out;
         -moz-transition: opacity .24s ease-in-out;
         -ms-transition: opacity .24s ease-in-out;
         -o-transition: opacity .24s ease-in-out;
         transition: opacity .24s ease-in-out;

}

.img-center {
	margin: 0 auto;
}


.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer p {
    color: ##ff4444;
    margin: 10px;
}

#panelCourses, #panelPractice1, #panelPractice2, #panelTeachers1, #panelTeachers2, #panelAziz, #panelMike, #panelAnn {
    display: none;
}

.well{
    color:#2E2E2E;
}

#success_message{
display: none;
}

.container ul{
    margin: 10px;
    padding: 20px;
    color: #33b5e5;
}

#quote{
display: none;
visibility: hidden;
}

.h-divider{
 margin-top:50px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}

hr{
    border: 1px groove;
}

#shortTutorials small{
    font-family : Georgia, Times, serif;
    font-size : 16px;
    color: #ff4444;
}

#shortTutorials p{
    font-family : Georgia, Times, serif;
    font-size : 16px;
    color: #33b5e5;
    font-style: italic;
}

fieldset.scheduler-border {
    border: 1px groove;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;

}

legend.scheduler-border {
    width:auto;
    padding:0 10px;
}



